// header

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  padding-top: 36px;
}

.partners {
  padding-top: 128px;
}

.section-cards {
  padding-top: 112px;
}

.section-posters {
  padding-top: 96px;
}

.section-quote {
  padding-top: 96px;
}

.section-quotes {
  padding-top: 100px;
}

.section-heroes2 {
  padding-top: 96px;
}

.section-contents {
  padding-top: 112px;
}

.section-form {
  padding-top: 120px;
}

.footer {
  margin-top: 50px;
  padding-top: 64px;
  padding-bottom: 64px;
}
